# Configuración de la aplicación
BASE_URL=http://localhost/tu-proyecto

# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nombre_base_datos
DB_USER=usuario_bd
DB_PASS=
DB_CHARSET=utf8

APP_TIMEZONE=America/Lima

# Nubefact
NUBEFACT_SERIE_BOLETA=BBB1
NUBEFACT_SERIE_FACTURA=FFF1
NUBEFACT_API_URL=https://api.nubefact.com/api/v1/TU_API_URL
NUBEFACT_API_TOKEN=TU_API_TOKEN

# Datos del hotel
HOTEL_TITULAR=NOMBRE_DEL_TITULAR