.header-usuarios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    color: var(--primary-dark);
    font-size: 24px;
    font-weight: bold;
  }

  .boton-nuevo-usuario {
    background-color: var(--primary);
    color: var(--text-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background-color: var(--primary-dark);
    }
  }
}

.buscar {
  margin-bottom: 20px;

  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
}

.tabla {
  width: 100%;
  border-radius: 20px 20px;
  overflow: hidden;
  background-color: var(--bg-warm);

  .tbl-usuarios {
    width: 100%;
    border-spacing: 0;
    thead {
      background-color: var(--bg-warm);
    }
  }
  th,
  td {
    padding: 12px;
    text-align: left;
  }

  th {
    color: var(--primary-dark);
  }
}
